<div class="container">
  <h1>QUOTES</h1>
  <hr>
 
    <div *ngFor='let quote of quotes;let i = index'>
      <li>{{quote.Author}}</li>
      <li>{{quote.Publisher}}</li>
      <li>{{quote.Quotes}}</li>
      <li>{{quote.Date}}</li>
      <button (click)='toggleDetails(i)'>Toggle Details</button> 
      <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isupvote)='upvotequote($event,i)'></app-quote-detail>

  </div>
  <app-quote-form (addQuotes)="addNewQuotes($event)"></app-quote-form>
</div>
