#one{
  background-image:url("http://getwallpapers.com/wallpaper/full/2/c/3/555297.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
/* background-attachment: fixed; */
   padding-left:35%;
  padding-top: 20%;
  padding-bottom: 10%;  
}