<!-- <div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr> -->
    <div id="two">
    <form (ngSubmit)='submitQuotes()' #quoteForm='ngForm'>
         <div class="form-group">
  
            <label for="name">Author</label>
            <input type="text" required class="form-control" id="Syl" [(ngModel)]="newQuotes.Author" name="Author" #Author='ngModel'>
        </div>

        <div class="form-group">
  
            <label for="publisher">Publisher</label>
            <input type="text" required class="form-control" id="Publisher" [(ngModel)]="newQuotes.Publisher" name="Publisher" #Publisher='ngModel'>
  
        </div>


        <div class="form-group">
  
            <label for="quote">Quote</label>
   
            <input type="text" required class="form-control" id="Quote" [(ngModel)]="newQuotes.Quotes" name="Quotes" #Quotes='ngModel'>
  
        </div>
        <div class="form-group">
  
            <label for="date">Date</label>
            <input type="date" required class="form-control" id="Date" [(ngModel)]="newQuotes.Date" name="Date" #Date='ngModel'>
  
        </div>

    
       <button type="submit" class="btn btn-Submit">Submit</button>
    </form>
  </div>
  <!-- </div> -->